.card {
    display: flex;
    flex-direction: column;
}

.card-img-wrapper {
    position: relative;
    border-radius: 8px 8px 0 0;
}

.card-rows-wrapper {
    border: solid 1px var(--border-color);
    border-radius: 0 0 8px 8px;
    border-top: none;
}

.card-img {
    height: 192px;
    width: 100%;
    display: block;
}

.card-img-wrapper .tag,
.card-img-wrapper .viewer-count {
    position: absolute;
    top: var(--gap-md);
}

.card-img-wrapper .tag:not(.viewer-count) {
    left: var(--gap-md);
}

.tag:empty {
    display: none;
}

.card .tag {
    --pad-left: calc(var(--gap-xs) + var(--gap-sm) - 1px);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 16px;
    padding: var(--gap-xs) var(--pad-left);
    background: #e8f9ff;
    color: #009eeb;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.tag.live {
    color: var(--green);
    background: #eaf7f1;
    position: relative;
    padding-left: calc(2 * var(--pad-left) + 7px);
}

.tag.live::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: #f4541e;
    border-radius: 50%;
    border: solid 1px var(--white);
    box-shadow: 1px 1px 0 .1px rgba(10, 22, 70, 0.05);
    position: absolute;
    top: 50%;
    left: var(--pad-left);
    transform: translateY(-50%);
}

.tag.auction {
    color: #3c4858;
    background: #fdeecb;
}

.tag.new {
    color: #3c4858;
}

.card-img-wrapper .tag-value {
    border-radius: 160px;
}

.card-img-wrapper .viewer-count {
    right: var(--gap-md);
    background: #283a5a;
    color: #ecedf0;
}

.card-row {
    padding: var(--gap-md) var(--gap-md) 0 var(--gap-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-row > * {
    justify-content: space-between;
}

.card-row h6.title {
    color: var(--primary-color);
    padding-bottom: var(--gap-sm);
    /* for wrapping all the titles in to two line */
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}

.card-row .item {
    color: var(--secondary-color);
    font-size: 12px;
    flex: 1;
    line-height: 20px;  
}

.card-row .item .value {
    color: var(--primary-color);
    font-size: 16px;
    display: block;
    line-height: 30px;
}

.msrp .value {
    text-decoration: line-through;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-md);
    padding-bottom: var(--gap-md);
    padding-top: calc(var(--gap-md) + var(--gap-xs));
}

.card-row .time {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #0081B5;
}

.card-row .full-span-col {
    grid-column: 1 / -1;
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    --icon-margin: 6px;
    height: 1rem;
    width: 1rem;
    display: inline-block;
}

.star-icon {
    background: url(../images/star.png) no-repeat;
    margin-left: var(--icon-margin);    
    margin-bottom: var(--gap-xs);
    background-size: 16px 16px;
}

.eye-icon {
    background: url(../images/eye.png) no-repeat;
    margin-right: var(--icon-margin);
    background-size: 16px 16px;
}