.content-wrapper {
    --margin-offset: calc(var(--cards-in-row) - 1);
    --card-gap : calc(var(--margin-offset) * var(--gap-md));
    flex: 1;
    max-width: calc(var(--card-width) * 3 + var(--card-gap));
}

.content-wrapper .full-width {
    width: 100%;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, var(--card-width));
    grid-gap: var(--gap-md);
    margin-top: var(--gap-lg);
    margin-bottom: calc(var(--gap-xl) + var(--gap-lg));
}