.sidebar-wrapper {
    width: 250px;
    margin-right: var(--gap-xl);
}

.select-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-sm);
    justify-content: space-between;
    margin-bottom: var(--gap-lg);
}

.sidebar-wrapper h6 {
    margin-bottom: calc(var(--gap-sm) + var(--gap-xs));
}

.sidebar-wrapper .upper {
    margin-bottom: var(--gap-xs);
}