/* Importing fonts */
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles */
:root {
  --font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-color: #0A1F44;
  --secondary-color: #8A94A6;
  --off-primary-color: #4E5D78;
  --green: #00B16E;
  --border-color: #E1E4E8;
  --nav-btn-bkd: #f1f2f4;
  --white: #fff;
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 32px;
  --gap-xl: 64px;
  --card-width: 296px;
  --cards-in-row: 3;
  --shadow: 0 1px 1px 0 rgba(10, 22, 70, 0.10), 0 0 1px 0 rgba(10, 22, 70, 0.06);
  --shadow-btn: 0 0 2px 1px rgba(10, 22, 70, 0.12);
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--primary-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: var(--font-family);
  font-weight: 500;
}

body {
  padding: 20px;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: var(--off-primary-color);
}

button {
  font-weight: 500;
  border-radius: 4px;
  line-height: 24px;
  font-size: 14px;
  padding: var(--gap-sm);
}

button:hover {
  cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

label input + span {
  color: var(--off-primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

label input:checked + span {
  color: var(--primary-color);
}

input:checked {
  background-color: var(--green);
}

select {
  position: relative;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 24px;
  border: solid 1px var(--border-color);
  appearance: none;
  font-weight: 500;
  padding: var(--gap-xs) calc(var(--gap-sm) + var(--gap-xs));
  border-radius: 4px;
}

/** global class selectors */
.border-bottom {
  border-bottom: solid 1px var(--border-color);
}

.upper {
  text-transform: uppercase;
}

.primary {
  color: var(--green);
}

.heading-btn {
  display: flex;
  border-bottom: solid 1px var(--border-color);
  padding-bottom: var(--gap-sm);
  margin-bottom: 32px;
}

.heading-btn > h3 {
  flex: 1;
  margin-right: 5px;
}

select.clear {
  border: none;
}

.select-with-icon {
  position: relative;
  display: flex;
}

.select-with-icon span {
  position: absolute;
  top: 50%;
  right: calc(var(--gap-md) + 1px);
  font-size: 6px;
  transform: scaleX(2) translateY(-50%)
}

.select-with-icon select {
  width: 100%;
}

.nav-button {
  background: none;
  border: none;
  border-radius: 160px;
  color: var(--off-primary-color);
  font-size: 14px;
  padding: 0;
}

.nav-button.active {
  color: var(--primary-color);
  background: var(--nav-btn-bkd);
  font-weight: 600;
  padding: var(--gap-xs) var(--gap-md);
}

.text-btn {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--green);
  background: none;
  padding: 0;
  border: none;
  font-weight: 600;
}

.hollow-btn {
  --pad: calc(var(--gap-sm) + var(--gap-xs) - 1px);
  background: transparent;
  border: solid 1px;
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  font-size: 14px;
}

.primary-btn {
  background: var(--green);
  color: var(--white);
}

.secondary-btn {
  color: var(--primary-color);
  background: transparent;
}

.inactive-btn {
  background: #009eeb;
  color: var(--white);
  text-transform: uppercase;
}

.primary-btn, .secondary-btn, .inactive-btn {
  border: none;
  box-shadow: var(--shadow-btn);
}